body.light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark-theme {
    background-color: #000000;
    color: #ffffff;
    
  }
  
  body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .active {
    color: #422edb;
  }
  
  
  .white-box {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-theme .white-box {
    background-color: #1e1e1e;
    color: #ffffff;
  }